<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi" xmlns:util="http://schemas.microsoft.com/wix/UtilExtension">
	<Product Id="*" Name="MSBuild Launcher" Language="1033" Version="0.1.2.0" Manufacturer="MSBuild Launcher" UpgradeCode="9d2da0dd-28e8-4b39-a0cb-78d846c60a90">
		<Package InstallerVersion="200" Compressed="yes" InstallScope="perMachine" />

		<MajorUpgrade DowngradeErrorMessage="A newer version of [ProductName] is already installed." />
		<MediaTemplate EmbedCab="yes" />

		<Feature Id="ProductFeature" Title="MsbuildLauncher" Level="1">
			<ComponentGroupRef Id="ProductComponents" />
      <ComponentRef Id="StartMenuShortcuts" />
		</Feature>
	</Product>

  <!-- top dir -->
  <Fragment>
    <Directory Id="TARGETDIR" Name="SourceDir" />
  </Fragment>
  
  <!-- program files -->
  <Fragment>
    <DirectoryRef Id="TARGETDIR">
      <Directory Id="ProgramFilesFolder">
        <Directory Id="INSTALLFOLDER" Name="MsbuildLauncher" />
        <!-- files and components are defined at Files.wxi -->
      </Directory>
    </DirectoryRef>
  </Fragment>

  <!-- program menu -->
  <Fragment>
    <DirectoryRef Id="TARGETDIR">
      <Directory Id="ProgramMenuFolder">
        <Directory Id="ProgramMenuDir" Name="MSBuild Launcher">
          <Component Id="StartMenuShortcuts" Guid="190BA942-8419-4411-AC78-2C94A6919595">
            <RemoveFolder Id="ProgramMenuDir" On="uninstall" />
            <RegistryValue Root="HKCU" Key="Software\[Manufacturer]\[ProductName]" Type="string" Value="" />

            <Shortcut Id="ExecuteProduct" Name="MSBuild Launcher"
                      Target="[INSTALLFOLDER]MsbuildLauncher.exe"
                      WorkingDirectory="INSTALLFOLDER" />

            <Shortcut Id="UninstallProduct" Name="Uninstall" Description="Uninstalls the application" Target="[System64Folder]msiexec.exe" Arguments="/x [ProductCode]" />
            <util:InternetShortcut Id="WebsiteShortcut" Name="MSBuild Launcher Web" Target="http://msbuildlauncher.codeplex.com/" />
          </Component>
        </Directory>
      </Directory>
    </DirectoryRef>
  </Fragment>

</Wix>