<?xml version="1.0" encoding="utf-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi" xmlns:util="http://schemas.microsoft.com/wix/UtilExtension" xmlns:netfx="http://schemas.microsoft.com/wix/NetFxExtension">
  <Product Id="*" Name="MSBuild Launcher" Language="1033" Version="0.2.1.0" Manufacturer="MSBuild Launcher" UpgradeCode="9d2da0dd-28e8-4b39-a0cb-78d846c60a90">
    <Package InstallerVersion="200" Compressed="yes" InstallScope="perMachine" />
    <MajorUpgrade DowngradeErrorMessage="A newer version of [ProductName] is already installed." AllowSameVersionUpgrades="yes" />
    <MediaTemplate EmbedCab="yes" />
    <Feature Id="ProductFeature" Title="MsbuildLauncher" Level="1">
      <ComponentGroupRef Id="ProductComponents" />
      <ComponentRef Id="StartMenuShortcuts" />
    </Feature>
    <Feature Id="AssociateExtensionMsbuildFeature" Level="2">
      <ComponentRef Id="AssociateExtensionMsbuild" />
    </Feature>
    <Feature Id="AssociateExtensionProjFeature" Level="3">
      <ComponentRef Id="AssociateExtensionProj" />
    </Feature>
    <!-- .NET version -->
    <PropertyRef Id="NETFRAMEWORK40FULL" />
    <Condition Message="This application requires .NET Framework 4.0. Please install the .NET Framework then run this installer again."><![CDATA[Installed OR NETFRAMEWORK40FULL]]></Condition>
    <!-- ui -->
    <UIRef Id="WixUI_MyInstallDir" />
    <Property Id="WIXUI_INSTALLDIR" Value="INSTALLFOLDER" />
    <WixVariable Id="WixUILicenseRtf" Value="LICENSE.rtf" />
  </Product>
  <!-- top dir -->
  <Fragment>
    <Directory Id="TARGETDIR" Name="SourceDir" />
  </Fragment>
  <!-- program files -->
  <Fragment>
    <DirectoryRef Id="TARGETDIR">
      <Directory Id="ProgramFilesFolder">
        <Directory Id="INSTALLFOLDER" Name="MsbuildLauncher" />
        <!-- files and components are defined at Files.wxi -->
      </Directory>
    </DirectoryRef>
  </Fragment>
  <!-- program menu -->
  <Fragment>
    <DirectoryRef Id="TARGETDIR">
      <Directory Id="ProgramMenuFolder">
        <Directory Id="ProgramMenuDir" Name="MSBuild Launcher">
          <Component Id="StartMenuShortcuts" Guid="190BA942-8419-4411-AC78-2C94A6919595">
            <RemoveFolder Id="ProgramMenuDir" On="uninstall" />
            <RegistryValue Root="HKCU" Key="Software\[Manufacturer]\[ProductName]" Type="string" Value="" />
            <Shortcut Id="ExecuteProduct" Name="MSBuild Launcher" Target="[INSTALLFOLDER]MsbuildLauncher.exe" WorkingDirectory="INSTALLFOLDER" />
            <Shortcut Id="UninstallProduct" Name="Uninstall" Description="Uninstalls the application" Target="[System64Folder]msiexec.exe" Arguments="/x [ProductCode]" />
            <util:InternetShortcut Id="WebsiteShortcut" Name="MSBuild Launcher Web" Target="http://msbuildlauncher.codeplex.com/" />
          </Component>
        </Directory>
      </Directory>
    </DirectoryRef>
  </Fragment>
  <!-- extension -->
  <Fragment>
    <DirectoryRef Id="TARGETDIR">
      <Component Id="AssociateExtensionProj" Guid="6893FFB4-04F0-4449-9014-474F398838E8">
        <ProgId Id="MSBuildLauncher.Document.Proj" Description="MSBuild Project File" Icon="MsbuildLauncher.exe">
          <Extension Id="proj" ContentType="application/msbuild-project-proj">
            <!-- MsbuildLauncher.exe is fileid -->
            <Verb Id="open" Command="Open" TargetFile="MsbuildLauncher.exe" Argument="&quot;%1&quot;" />
          </Extension>
        </ProgId>
      </Component>
      <Component Id="AssociateExtensionMsbuild" Guid="5BD7C774-5905-4112-9099-40F50B00A50E">
        <ProgId Id="MSBuildLauncher.Document.MSBuild" Description="MSBuild Project File" Icon="MsbuildLauncher.exe">
          <Extension Id="msbuild" ContentType="application/msbuild-project-msbuild">
            <!-- MsbuildLauncher.exe is fileid -->
            <Verb Id="open" Command="Open" TargetFile="MsbuildLauncher.exe" Argument="&quot;%1&quot;" />
          </Extension>
        </ProgId>
      </Component>
    </DirectoryRef>
  </Fragment>
</Wix>